@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: whitesmoke;
}

.newspaper-container{
    margin: auto;
    background-color: white;
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    font-size: 1em;
    max-width: 700px;
    border-radius: 1%;
    box-shadow: 5px 5px 5px grey;
    padding: 1em;
}

header h1 {
    text-align: center;
    font-family: 'Abril Fatface';
    font-size: 3em;
    margin: 0;
}

nav {
    text-align: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-top: 1.5em;
}

nav ul {
    margin: 1em;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 0.5em 0 0.5em;
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: #777;
}

a:visited {
    text-decoration: none;
    color: #777;
}

main h2 {
    font-family: 'Roboto Slab';
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

main h5 {
    color: #dd3232;
    font-family: 'Abril Fatface';
    margin: 0 0 1.5em 0;
    font-size: 1em;
    font-weight: lighter;
}

main img {
    width: 100%;
}

main p {
    font-size: 1em;
    text-align: justify;
    margin: 1em 0.75em 1em 0.75em;
}

.more-articles {
    display: inline-flex;
    border-top: 2px solid #777;
}

section {
    text-align: justify;
    width: 50%;
    margin: 1em;

}

section h4 {
    font-family: 'Roboto Slab';
    font-size: 1.em;

}

section p {
    font-size: 1em;
    padding: 0 1em 0 1em;
}

section img {
    width: 100%;
}
